
.weather-header{
    background-image: linear-gradient(to right, #3360B8,#210C4F)!important;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif ;
    color: #FFFF;
}

#search-button{
    background-color: #5098E6;
    color: white;
    width: 150px;
}
.btn{ 
    margin: 10px;
    padding: 10px;

}
#search-section{float: left;
width:33%}
#weather{
    float: right;
    width:67%;

}
footer {
    clear: both;
    margin-top: 400px;
    

  }

.card{
    display: inline-block;
    flex-direction: row;
    align-content: space-evenly;
    border: solid;
    background-color:#2D3E50 ;
    color: #FFFF;
    width: 20%;
    text-align: center;
}